
<% if @article.errors.any? %>

  <h2>Errors</h2>
  <ul>
    <% @article.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<%= form_with(model: @article, data: { turbo: false }, local:true)  do |f| %>
  <%= f.label :title %>
  <br>
  <%= text_field :article, :title %>
  <br>
    <%= f.label :description %>
    <br>
  <%= text_area :article, :description %>
  <br>
  <%= submit_tag "Submit" %>
<% end %>